body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-image: url(./img/sofa_hero.webp);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    min-height: 100vh;
}
.logo img {
    height: 80px; /* Ajuste la hauteur du logo */
    width: auto; /* Conserve les proportions de l'image */
    max-width: 150px; /* Optionnel : Limite la largeur maximale si nécessaire */
    object-fit: contain; /* Assure que l'image conserve ses proportions */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero {
    position: absolute;
    bottom: 30%; /* Positionnement en bas pour ressembler à l'image */
    right: 80px; /* Alignement à gauche */
    max-width: 500px; /* Limite la largeur pour ne pas trop occuper l'espace */
    text-align: right;
}

.hero h1 {
    font-size: 4em;
    margin: 10px 0;
    line-height: 1.2;
}

